* {
  box-sizing: border-box;
}

html {
  font-family: Roboto;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background: rgb(29, 29, 29);
  
}

